# Database
sqlalchemy==2.0.30
psycopg2-binary==2.9.9

# =====================
# S3/MinIO Cloud Storage
# =====================
## S3/MinIO Cloud Storage
boto3==1.37.38
# s3fs==2026.3.0



# =============
# Backend (API)
# =============
## Backend (API)
fastapi==0.115.12
uvicorn==0.34.2
pydantic==2.11.5
pydantic_settings==2.9.1

# =============
# Web Scraping
# =============
## Web Scraping
requests==2.32.3
beautifulsoup4==4.14.3
lxml==4.9.3
trafilatura==1.6.0
tenacity==8.2.0

# =============
# LLM / IA
# =============
# sentence-transformers==4.1.0
# transformers==4.51.3
# torch==2.7.0
# qdrant-client==1.14.2
# openai==1.76.2

# =============
# Data Science
# =============
# pandas==2.2.3
# numpy==2.2.5

# =============
# Utils
# =============
# python-dotenv==1.1.0
# tiktoken==0.9.0
# httpx==0.28.1
# orjson==3.10.18

# =============
# Testing
# =============
# pytest==8.3.5
# pytest-asyncio==0.26.0